In [1]:
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv('C:/python/CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [3]:
pop_Seoul = pd.read_excel('C:/python/population_in_seoul.xls', header = 2, usecols = 'B,D,G,J,N')
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10089517  9814049  275468   1393671
1  종로구    163569   153780    9789     26512
2   중구    135427   126032    9395     21798
3  용산구    245245   229677   15568     37331
4  성동구    316068   308066    8002     42171

In [5]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별', pop_Seoul.columns[1] : '인구수', pop_Seoul.columns[2] : '한국인', pop_Seoul.columns[3] : '외국인',
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)

In [8]:
pit.figure(figsize=(10,10))

NameError: name 'pit' is not defined

In [7]:
import platform
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

In [15]:
import pandas as pd
from glob import glob

In [17]:
stations_files = glob('C:/python/지역*.xls')
stations_files

['C:/python\\지역_위치별(주유소)_1.xls',
 'C:/python\\지역_위치별(주유소)_10.xls',
 'C:/python\\지역_위치별(주유소)_11.xls',
 'C:/python\\지역_위치별(주유소)_12.xls',
 'C:/python\\지역_위치별(주유소)_13.xls',
 'C:/python\\지역_위치별(주유소)_14.xls',
 'C:/python\\지역_위치별(주유소)_15.xls',
 'C:/python\\지역_위치별(주유소)_16.xls',
 'C:/python\\지역_위치별(주유소)_17.xls',
 'C:/python\\지역_위치별(주유소)_18.xls',
 'C:/python\\지역_위치별(주유소)_19.xls',
 'C:/python\\지역_위치별(주유소)_2.xls',
 'C:/python\\지역_위치별(주유소)_20.xls',
 'C:/python\\지역_위치별(주유소)_21.xls',
 'C:/python\\지역_위치별(주유소)_22.xls',
 'C:/python\\지역_위치별(주유소)_23.xls',
 'C:/python\\지역_위치별(주유소)_24.xls',
 'C:/python\\지역_위치별(주유소)_25.xls',
 'C:/python\\지역_위치별(주유소)_3.xls',
 'C:/python\\지역_위치별(주유소)_4.xls',
 'C:/python\\지역_위치별(주유소)_5.xls',
 'C:/python\\지역_위치별(주유소)_6.xls',
 'C:/python\\지역_위치별(주유소)_7.xls',
 'C:/python\\지역_위치별(주유소)_8.xls',
 'C:/python\\지역_위치별(주유소)_9.xls']

In [18]:
tmp_raw = []
for file_name in stations_files:
    tmp = pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)
station_raw = pd.concat(tmp_raw)

In [19]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 521 entries, 0 to 15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      521 non-null    object
 1   상호      521 non-null    object
 2   주소      521 non-null    object
 3   상표      521 non-null    object
 4   전화번호    521 non-null    object
 5   셀프여부    521 non-null    object
 6   고급휘발유   521 non-null    object
 7   휘발유     521 non-null    object
 8   경유      521 non-null    object
 9   실내등유    521 non-null    object
dtypes: object(10)
memory usage: 44.8+ KB

In [20]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울특별시 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1648,1429,-
1,서울특별시,현대오일뱅크㈜ 직영 도곡셀프주유소,서울특별시 강남구 남부순환로 2718 (도곡동),현대오일뱅크,02-529-5101,Y,1782,1658,1458,-
2,서울특별시,은마주유소,서울특별시 강남구 영동대로 235 (대치동) 은마주유소,GS칼텍스,02-3452-1882,N,1809,1659,1458,-
3,서울특별시,(주)한진 도곡주유소,서울특별시 강남구 도곡로 162 (도곡동),S-OIL,02-2058-3024,N,-,1660,1460,-
4,서울특별시,SK서광주유소,서울 강남구 역삼로 142 (역삼동),SK에너지,02-562-4855,Y,1875,1665,1475,1050

In [21]:
stations = pd.DataFrame({'011_store':station_raw['상호'],
                         '주소':station_raw['주소'],
                         '가격':station_raw['휘발유'],
                         '셀프':station_raw['셀프여부'],
                         '상표':station_raw['상표']})
stations.head()

             011_store                               주소    가격 셀프      상표
0          (주)보성 세곡주유소         서울특별시 강남구  헌릉로 731 (세곡동)  1648  Y   SK에너지
1   현대오일뱅크㈜ 직영 도곡셀프주유소      서울특별시 강남구  남부순환로 2718 (도곡동)  1658  Y  현대오일뱅크
2                은마주유소  서울특별시 강남구  영동대로 235 (대치동) 은마주유소  1659  N   GS칼텍스
3          (주)한진 도곡주유소         서울특별시 강남구  도곡로 162 (도곡동)  1660  N   S-OIL
4              SK서광주유소             서울 강남구 역삼로 142 (역삼동)  1665  Y   SK에너지

In [22]:
stations['구'] = [eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

             011_store                               주소    가격 셀프      상표    구
0          (주)보성 세곡주유소         서울특별시 강남구  헌릉로 731 (세곡동)  1648  Y   SK에너지  강남구
1   현대오일뱅크㈜ 직영 도곡셀프주유소      서울특별시 강남구  남부순환로 2718 (도곡동)  1658  Y  현대오일뱅크  강남구
2                은마주유소  서울특별시 강남구  영동대로 235 (대치동) 은마주유소  1659  N   GS칼텍스  강남구
3          (주)한진 도곡주유소         서울특별시 강남구  도곡로 162 (도곡동)  1660  N   S-OIL  강남구
4              SK서광주유소             서울 강남구 역삼로 142 (역삼동)  1665  Y   SK에너지  강남구

In [23]:
stations['구'].unique()

array(['강남구', '도봉구', '특별시', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구',
       '서울특별시', '성북구', '송파구', '양천구', '강동구', '영등포구', '용산구', '은평구', '종로구',
       '중구', '중랑구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구'],
      dtype=object)

In [24]:
stations[stations['구']=='서울특별시']

         011_store                           주소    가격 셀프     상표      구
14  SK네트웍스(주)효진주유소  1 서울특별시 성동구 동일로 129 (성수동2가)  1797  N  SK에너지  서울특별시

In [25]:
stations.loc[stations['구']=='서울특별시', '구'] = '성동구'
stations['구'].unique()

array(['강남구', '도봉구', '특별시', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구',
       '성북구', '송파구', '양천구', '강동구', '영등포구', '용산구', '은평구', '종로구', '중구',
       '중랑구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구'],
      dtype=object)

In [26]:
stations.loc[stations['구']=='특별시', '구'] = '도봉구'
stations['구'].unique()

array(['강남구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '강동구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구',
       '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구'], dtype=object)

In [27]:
stations[stations['가격']=='-']

            011_store                          주소 가격 셀프      상표     구
13              서강주유소        서울 마포구 독막로 134 (창전동)  -  N   SK에너지   마포구
25              현대주유소      서울 양천구 남부순환로 372 (신월동)  -  Y   S-OIL   양천구
17      명진석유(주)동서울주유소  서울특별시 강동구  천호대로 1456 (상일동)  -  Y   GS칼텍스   강동구
33              하나주유소   서울특별시 영등포구  도림로 236 (신길동)  -  N   S-OIL  영등포구
34              대지주유소    서울 영등포구 영등포로 115 (당산동2가)  -  N   SK에너지  영등포구
17        유성주유소(self)        서울 중랑구 망우로 436 (망우동)  -  Y  현대오일뱅크   중랑구
12              새한주유소     서울특별시 강북구  도봉로 75 (미아동)  -  Y   SK에너지   강북구
34            하이웨이주유소       서울 강서구 공항대로 432 (화곡동)  -  N   S-OIL   강서구
20              삼한주유소     서울특별시 구로구 부일로 871 (온수동)  -  N   S-OIL   구로구
21  현대오일뱅크(주)직영신구로주유소   서울특별시 구로구  가마산로 293 (구로동)  -  N  현대오일뱅크   구로구

In [29]:
stations = stations[stations['가격'] != '-']
stations.head()

             011_store                               주소    가격 셀프      상표    구
0          (주)보성 세곡주유소         서울특별시 강남구  헌릉로 731 (세곡동)  1648  Y   SK에너지  강남구
1   현대오일뱅크㈜ 직영 도곡셀프주유소      서울특별시 강남구  남부순환로 2718 (도곡동)  1658  Y  현대오일뱅크  강남구
2                은마주유소  서울특별시 강남구  영동대로 235 (대치동) 은마주유소  1659  N   GS칼텍스  강남구
3          (주)한진 도곡주유소         서울특별시 강남구  도곡로 162 (도곡동)  1660  N   S-OIL  강남구
4              SK서광주유소             서울 강남구 역삼로 142 (역삼동)  1665  Y   SK에너지  강남구

In [33]:
stations['가격'] = [float(value) for value in stations['가격']]

In [39]:
stations.reset_index(inplace=True)
def stations['index']

SyntaxError: invalid syntax (852524980.py, line 2)